/* Custom Stylesheet */


/* Schrijf hier je aanpassingen die specifiek voor MIN zijn
en die bovenop materialize komen */

/*Styling of plain HTML elements*/
body {
    background-color: #F6F6F6;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    background: #20368f !important;
    color: #EBEBEB;
}

nav li:hover,
nav li:hover a {
    background-color: #EBEBEB;
    color: black;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

main {
    flex: 1 0 auto;
}

/*Classes*/
.nav-active {
    background-color: #0c1539 !important;
}

.sidenav .nav-active {
    background-color: #EBEBEB !important;
}

.page-footer {
    background: rgb(32, 54, 143);
    background: linear-gradient(180deg, rgba(32, 54, 143, 1) 0%, rgba(49, 24, 111, 1) 100%) !important;
}

.page-footer li a {
    text-decoration: underline !important;
}

.border {
    border: 2px solid #000;
    padding: 0px !important;
}

.logo {
    height: 250px;
    width: 100%;
    position: relative;
}

.vet {
    font-weight: bold;
}

.onderlijn{
    text-decoration: underline;
}

.center-in-div {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.pnormal {
    font-weight: normal !important;
    padding-bottom: 10px;
}

.btn-nav-kleur {
    background-color: #20368f;
    color: #EBEBEB;
}

.btn-nav-kleur:hover {
    background-color: #EBEBEB;
    color: black;
}

.btn-nav-kleur:focus {
    background-color: #20368f;
    color: #EBEBEB;
}

.display-1 {
    font-size: 2.5rem;
}

.display-2 {
    font-size: 2rem;
}

.display-3 {
    font-size: 1.75rem;
}

.display-4 {
    font-size: 1.5rem;
}

.display-5 {
    font-size: 1.25rem;
}

.center-align {
    text-align: center;
}

.justify-text {
    text-align: justify;
    text-justify: inter-word;
}

.filter-brightness{
    filter: brightness(75%);
}

.slider .indicators .indicator-item.active{
    background-color: #20368f;
}

.shadow{
    text-shadow: 2px 1px #000;
}

.display-bottom{
    transition-duration: 1s;
    transform: translateY(260px) !important;
}

.indicators{
    padding-bottom: 5px;
}

.witte-tekst{
    color: #F6F6F6;
}

/*ID's*/
#map {
    height: 400px;
    width: 100%;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

#imgfransvandeursen {
    border-radius: 4%;
    border: 2px solid black;
}

.btn-in-text{
    margin-bottom: 30px;
}

.footer-logo{
    background-color: white;
    border-radius: 5%;
}